name: publish
permissions:
  packages: write
  contents: read
  
on:
  push:
    branches:
      - main
  workflow_dispatch: 

jobs:
  publish-docker-image:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6
  
    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 8.0.x
 
    - name: Restore dependencies
      run: dotnet restore      

    - name: Build
      run: |
        cd JevilNet
        dotnet publish -o ../build -p:Configuration=Release
        cd ..

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Set up docker
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and Push Image
      uses: docker/build-push-action@v6
      with:
        tags: ghcr.io/suchmememanyskill/jevilnet:latest
        platforms: linux/amd64,linux/arm64
        push: true
        context: .